<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <!-- ensure only the sources defined below are used -->
        <add key="MyRepo" value="D:\git\fleed\Cake.VstsReleaseTools\dist\package" />
        <add key="NuGetV2" value="https://www.nuget.org/api/v2" />
        <add key="NuGetV3" value="https://api.nuget.org/v3/index.json" />
    </packageSources>
    <activePackageSource>
        <!-- All non-disabled sources are active -->
        <add key="All" value="(Aggregate source)" />
    </activePackageSource>
</configuration>